/InsertEmployeeModel.class
/LeaveModel.class
/ManagerLeaveModel.class
/RetriveEmployeeDesignationModel.class
/RetriveEmployeeModel.class
/UpdateEmpPhoneNumberModel.class
/UpdateEmployeeDesignationModel.class
/UpdateEmployeeSalaryModel.class
/UserModel.class
